<!DOCTYPE html>
<html lang='en' ng-app='chooseApp'>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Choose your team!</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body ng-controller='chooseCtrl as vm'>
    <h1>Choose Your Team!</h1>
    <p>Congratulations, trainer, you've successfully captured every pokemon discovered. Now you have to decide which six you will take with you to the pokemon league. Click on one to elimiate it until only six remain.</p>
    <p>Eliminate one:</p>
    <div class="container">
      <div ng-repeat='pkmn in vm.pkmn | limitTo: 7'>
        <button ng-click='vm.removePkmn(pkmn)'><img src="images/icon.png"/> {{pkmn}}</button><br/>
      </br/>
      </div>
    </div>
    <!-- jquery -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
     <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- angularjs -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="main.js"></script>
  </body>

</html>
